#character-box {
    border: 2px solid black;
    text-align: center;
    width: 100px;
    margin: auto;
}

#character-title {
    border-bottom: 1px dotted black;
}

#character {
    font-size: 64pt;
}

#codepoint {
    font-size: 24pt;
    text-align: center;
}

#character-name {
    font-size: 24pt;
    text-align: center;
}
