html {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    font-family: "Verdana", sans-serif;
}

body {
    background-color: #f5f5dc;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
}

a {
    text-decoration: none;
}

#seshat-demo-header {
    text-align: center;
    height: 180px;
}

#seshat-demo-header a img {
    position: absolute;
    left: 20px;
    width: 120px;
    margin-top: 10px;
}

#seshat-demo-header h1 {
    font-family: 'Great Vibes', serif;
    font-size: 52pt;
    padding-top: 50px;
}

#container {
    min-height: 100%;
}

#container ul {
    margin: 0px auto;
    width: 500px;
}

#container li {
}

#container li a {
    color: #000000;
    text-decoration: none;
}

#app-view {
    max-width: 700px;
    margin: 0px auto;
    padding: 10px;
}

.demos-list-group p {
    font-weight: bold;
    font-size: 1.6em;
    width: 65%;
    margin: 0px auto;
    padding: 20px 0;
}

.demos-list-group ul li {
    width: 500px;
    font-size: 20pt;
    margin: 0 auto 30px auto;
}

#list-demos {
    list-style-type: none;
}

#list-demos li {
}

#list-demos li span {
    border-bottom: 12px solid #308d57;
    display: table-cell;
    padding: 10px 5px;
    width: 300px;
}

#list-demos img {
    width: 96px;
    vertical-align: middle;
    margin-right: 20px;
}

#list-demos-browse {
}

#list-demos-segmentation, #list-demos-normalize {
}

#footer {
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #54583d;
    position: absolute;
    bottom: 0;
    display: table;
}

#footer p {
    font-size: 80%;
    text-align: center;
    color: #308d57;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 0px 10px black;
}
