#character-box {
    border: 2px solid black;
    text-align: center;
    width: 100px;
    margin: auto;
}

#character-title {
    border-bottom: 1px dotted black;
}

#character {
    font-size: 64pt;
    height: 114px;
}

#codepoint {
    font-size: 24pt;
    text-align: center;
}

#character-name {
    font-size: 24pt;
    text-align: center;
}

#properties-box table {
    border-spacing: 0px 2px;
    color: black;
}

#properties-box thead td {
    background: #a5cfd3;
}

#properties-box td {
    padding: 2px 10px;
    background: #d3edef;
    min-width: 150px;
}
