<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Seshat Web Demo</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="/style/character-list.css">
  <link rel="stylesheet" href="/style/property-page.css">
  <link rel="stylesheet" href="/style/segmentation.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
  <a href="https://github.com/hardboiled65/Seshat.git"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <header id="seshat-demo-header">
    <a href="https://seshat-demo.herokuapp.com"><img src="/img/logo.png" alt="Seshat logo"></a>
    <h1>Seshat Web Demo (beta)</h1>
  </header>
  <section id="container">
    <div id="app-view">
      <router-view></router-view>
    </div>
  </section>
  <footer id="footer">
    <p>Copyright &copy; 2018 hardboiled65. All rights reserved.</p>
  </footer>

  <!-- Templates -->

  <script type="text/template" id="property-template">
    <table id="table-properties">
      <thead>
        <tr>
          <td>Property</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        {% for cat, props in property_names.items() %}
        {% for prop, full in props.items() %}
        <tr>
          <td>(( full ))</td>
          <td>{{ String(properties.(( cat )).(( prop ))) }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </script>


  <!-- Frameworks/Libraries -->
  <script src="/libs/jquery-3.3.1.js"></script>
  <!--
  <script src="/libs/underscore.js"></script>
  <script src="/libs/backbone.js"></script>
  -->

  <script src="/js/unicode.js"></script>
  <script src="/js/seshat-demo.js"></script>

  <!--
  <script src="/js/demos/browse/models/character.js"></script>
  <script src="/js/demos/browse/collections/character-list.js"></script>
  <script src="/js/demos/browse/views/character-list-view.js"></script>
  <script src="/js/demos/browse/views/character-view.js"></script>

  <script src="/js/demos/browse/models/property.js"></script>
  <script src="/js/demos/browse/collections/property-page.js"></script>
  <script src="/js/demos/browse/views/property-page-view.js"></script>

  <script src="/js/views/app-view.js"></script>
  -->

  <!--
  <script src="/js/demos/browse/components/character.js"></script>
  <script src="/js/demos/browse/components/character-list.js"></script>
  <script src="/js/demos/browse/components/property.js"></script>
  <script src="/js/demos/browse/components/property-page.js"></script>
  <script src="/js/demos/browse/browse-app.js"></script>

  <script src="/js/demos/segmentation/components/result-text.js"></script>
  <script src="/js/demos/segmentation/components/result-detail.js"></script>
  <script src="/js/demos/segmentation/components/results.js"></script>
  <script src="/js/demos/segmentation/segmentation-app.js"></script>

  <script src="/js/demos/demos-app.js"></script>

  <script src="/js/routers/router.js"></script>
  <script src="/js/app.js"></script>
  -->
  <script src="/js/bundle.js"></script>

  <!-- Others -->
  <script>
    $(document).ready(function() {
        $(".link-demos").click(function(event) {
            event.preventDefault();
        });
    });
  </script>
</body>
</html>
