<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Seshat Web Demo</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="/style/character-list.css">
  <link rel="stylesheet" href="/style/property-page.css">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
  <a href="https://github.com/hardboiled65/Seshat.git"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <header id="seshat-demo-header">
    <a href="https://seshat-demo.herokuapp.com"><img src="/img/logo.png" alt="Seshat logo"></a>
    <h1>Seshat Web Demo (beta)</h1>
  </header>
  <section id="container">
    <p>Demos</p>
  </section>
  <footer id="footer">
    <p>Copyright &copy; 2018 hardboiled65. All rights reserved.</p>
  </footer>

  <!-- Templates -->
  <script type="text/template" id="demos-template">
    <p>Demos</p>
    <ul>
      <li><a href="#" class="link-demos" id="link-demos-browse">Character Browser</a></li>
      <li><a href="#" class="link-demos" id="link-demos-segmentation">Text Segmentations</a></li>
      <li><a href="#" class="link-demos" id="link-demos-normalize">Normalization</a></li>
    </ul>
  </script>

  <script type="text/template" id="character-template">
    <span><a href="/browse/<%= codePoint %>"><%= string %></a></span>
  </script>
  <script type="text/template" id="character-list-template">
    <table id="table-character-list">
    </table>
  </script>
  <script type="text/template" id="properties-template">
    <div id="codepoint">
      <%= codepoint %>
    </div>
    <div id="character-box">
      <div id="character-title">Character</div>
      <div id="character"><%= character %></div>
    </div>
    <div id="character-name">
      <%= properties.misc.name || "Loading" %>
    </div>
    <div id="properties-box">
      <div id="control-btn-box">
        <button id="btn-left">Left</button>
        <button id="btn-right">Right</button>
      </div> <!-- control-btn-box -->
      <table "table-properties">
        <thead>
          <tr>
            <td>Property</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          {% for cat, props in property_names.items() %}
          {% for prop, full in props.items() %}
          <tr>
            <td>{{ full }}</td>
            <td><%= String(properties.{{ cat }}.{{ prop }}) %></td>
          </td>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </script>

  <!-- Frameworks/Libraries -->
  <script src="/libs/jquery-3.3.1.js"></script>
  <script src="/libs/underscore.js"></script>
  <script src="/libs/backbone.js"></script>

  <script src="/js/property_names.js"></script>
  <script src="/js/unicode.js"></script>
  <script src="/js/seshat-demo.js"></script>

  <script src="/js/demos/browse/models/character.js"></script>
  <script src="/js/demos/browse/collections/character-list.js"></script>
  <script src="/js/demos/browse/views/character-list-view.js"></script>
  <script src="/js/demos/browse/views/character-view.js"></script>

  <script src="/js/demos/browse/models/property.js"></script>
  <script src="/js/demos/browse/collections/property-page.js"></script>
  <script src="/js/demos/browse/views/property-page-view.js"></script>

  <script src="/js/views/app-view.js"></script>
  <script src="/js/routers/router.js"></script>
  <script src="/js/app.js"></script>

  <!-- Others -->
  <script>
    $(document).ready(function() {
        $(".link-demos").click(function(event) {
            event.preventDefault();
        });
    });
  </script>
</body>
</html>
