<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Seshat Web Demo</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="/style/character-list.css">
  <link rel="stylesheet" href="/style/property-page.css">
  <link rel="stylesheet" href="/style/segmentation.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
  <a href="https://github.com/hardboiled65/Seshat.git"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <header id="seshat-demo-header">
    <a href="https://seshat-demo.herokuapp.com"><img src="/img/logo.png" alt="Seshat logo"></a>
    <h1>Seshat Web Demo (beta)</h1>
  </header>
  <section id="container">
    <router-view></router-view>
  </section>
  <footer id="footer">
    <p>Copyright &copy; 2018 hardboiled65. All rights reserved.</p>
  </footer>

  <!-- Templates -->
  <script type="text/template" id="demos-template">
    <div>
      <p>Demos</p>
      <ul>
        <li><router-link to="/browse" class="link-demos" id="link-demos-browse">Character Browser</router-link></li>
        <li><router-link to="/segmentation" class="link-demos" id="link-demos-segmentation">Text Segmentations</router-link></li>
        <li><router-link to="/normalize" class="link-demos" id="link-demos-normalize">Normalization</router-link></li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="browse-template">
    <div>
      <p>Browse - Demos</p>
      <router-view></router-view>
    </div>
  </script>
  <script type="text/template" id="character-template">
    <td v-if="codePoint === ''">{{ string }}</td>
    <td v-else>
      <span><router-link :to="'/browse/' + codePoint">{{ string }}</router-link></span>
    </td>
  </script>
  <script type="text/template" id="character-list-template">
    <table id="table-character-list">
      <thead>
        <tr>
          <th></th>
          <th>0</th><th>1</th><th>2</th><th>3</th>
          <th>4</th><th>5</th><th>6</th><th>7</th>
          <th>8</th><th>9</th><th>A</th><th>B</th>
          <th>C</th><th>D</th><th>E</th><th>F</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in characters">
          <character
            v-for="character in item"
            v-bind:code-point="character.codePoint"
            v-bind:string="character.string">
          </character>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/template" id="property-template">
    <table id="table-properties">
      <thead>
        <tr>
          <td>Property</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        {% for cat, props in property_names.items() %}
        {% for prop, full in props.items() %}
        <tr>
          <td>(( full ))</td>
          <td>{{ String(properties.(( cat )).(( prop ))) }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </script>
  <script type="text/template" id="properties-template">
    <div>
      <div id="codepoint">
        {{ codepoint }}
      </div>
      <div id="character-box">
        <div id="character-title">Character</div>
        <div id="character">{{ character }}</div>
      </div>
      <div id="character-name">
        {{ name || "Loading ..." }}
      </div>
      <div id="properties-box">
        <div id="control-btn-box">
          <router-link
            :to="prevLink"
            tag="button"
            id="btn-left">Left
          </router-link>
          <router-link
            :to="nextLink"
            tag="button"
            id="btn-right">Right
          </router-link>
          <property v-on:name-fetched="updateName" v-bind:codepoint="codepoint">
          </property>
        </div> <!-- control-btn-box -->
      </div>
    </div>
  </script>

  <script type="text/template" id="segmentation-template">
    <div>
      <h2>Grapheme cluster</h2>
      <input type="radio" id="segmentation-grapheme" value="grapheme" v-model="type">
      <label for="segmentation-grapheme">Grapheme</label>
      <input type="radio" id="segmentation-word" value="word" v-model="type" disabled="true">
      <label for="segmentation-word">Word</label>
      <div>
        <p>Examples</p>
        <select v-model="text">
          <option>L'incendie a carbonisé la forêt entière.</option>
          <option>나랏〮말〯ᄊᆞ미〮듀ᇰ귁〮에〮달아〮문ᄍᆞᆼ와〮로〮서르ᄉᆞᄆᆞᆺ디〮아니〮ᄒᆞᆯᄊᆡ〮</option>
          <option>ﾊﾟﾝﾊｺﾞﾊﾝﾖﾘｵｲｼｲ</option>
        </select>
      </div>
      <p>Input text</p>
      <input v-model="text">
      <button v-on:click="fetchResult">Result</button>
      <results v-if="result" v-bind:breaks="result.breaks"></results>
    </div>
  </script>
  <script type="text/template" id="result-text-template">
    <p>
      <span class="result-segment" v-for="segment in segments">{{ segment }}</span>
    </p>
  </script>
  <script type="text/template" id="result-detail-template">
    <div>
      <div
        class="result-detail-parent"
        v-for="(br, index) in breaks"
        v-bind:key="index">
        <div class="result-detail-head">{{ segments[index] }}</div>
        <div
          class="result-detail-inner"
          v-for="cp in br">
          <p class="character">{{ cp.character }}</p>
          <p>{{ cp.codepoint }}</p>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="results-template">
    <div>
      <p>Result</p>
      <result-text v-bind:segments="segments"></result-text>
      <result-detail v-bind:breaks="breaks" v-bind:segments="segments"></result-detail>
      <!-- <p>breaks: {{ breaks }}</p> -->
      <!-- <p>segments: {{ segments }}</p> -->
    </div>
  </script>

  <!-- Frameworks/Libraries -->
  <script src="/libs/jquery-3.3.1.js"></script>
  <script src="/libs/underscore.js"></script>
  <script src="/libs/backbone.js"></script>

  <script src="/js/unicode.js"></script>
  <script src="/js/seshat-demo.js"></script>

  <!--
  <script src="/js/demos/browse/models/character.js"></script>
  <script src="/js/demos/browse/collections/character-list.js"></script>
  <script src="/js/demos/browse/views/character-list-view.js"></script>
  <script src="/js/demos/browse/views/character-view.js"></script>

  <script src="/js/demos/browse/models/property.js"></script>
  <script src="/js/demos/browse/collections/property-page.js"></script>
  <script src="/js/demos/browse/views/property-page-view.js"></script>

  <script src="/js/views/app-view.js"></script>
  -->
  <script src="/js/demos/browse/components/character.js"></script>
  <script src="/js/demos/browse/components/character-list.js"></script>
  <script src="/js/demos/browse/components/property.js"></script>
  <script src="/js/demos/browse/components/property-page.js"></script>
  <script src="/js/demos/browse/browse-app.js"></script>

  <script src="/js/demos/segmentation/components/result-text.js"></script>
  <script src="/js/demos/segmentation/components/result-detail.js"></script>
  <script src="/js/demos/segmentation/components/results.js"></script>
  <script src="/js/demos/segmentation/segmentation-app.js"></script>

  <script src="/js/demos/demos-app.js"></script>

  <script src="/js/routers/router.js"></script>
  <script src="/js/app.js"></script>

  <!-- Others -->
  <script>
    $(document).ready(function() {
        $(".link-demos").click(function(event) {
            event.preventDefault();
        });
    });
  </script>
</body>
</html>
